<nav class="navbar navbar-expand-lg bg-light mb-4">
  <a href="/" class="navbar-brand">
    <img 
      class="navbar__logo"
      src="/img/1174949_js_react js_logo_react_react native_icon.png" 
      alt="Logo"
    />
  </a>
</nav>