<nav class="navbar navbar-dark navbar-expand-lg bg-dark mb-5">
  <div class="container">
    <a class="navbar-brand" href="/">BlogPress</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <% categories.forEach(category => {%>
          <li class="nav-item">
            <a href="/categories/<%= category.slug%>" class="nav-link">
              <%= category.title %>
            </a>
          </li>
        <%})%>
      </div>
    </div>
  </div>
</nav>