<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head.ejs'); %>
</head>
<body>
  <%- include('../partials/navbar.ejs'); %>
  
  <div class="container">
    <div class="card">
      <div class="card-header">
        <h3>Criação de usuario</h3>
      </div>
      <div class="card-body">
        <form action="/users/create" method="POST">
          <input 
            class="form-control mb-3"
            type="text"
            placeholder="Digite seu nome"
            id="name"
            name="name"
          />
          <input 
            class="form-control mb-3"
            type="text"
            placeholder="Digite um nome de usuario"
            id="username"
            name="username"
          />
          <input 
            class="form-control mb-3"
            type="email"
            placeholder="email@exemplo.com"
            id="email"
            name="email"
          />
          <input 
            class="form-control mb-3"
            type="password"
            placeholder="*******"
            id="password"
            name="password"
          />
          <button class="btn btn-success ">Criar</button>
        </form>
      </div>
    </div>
  </div>

  <%- include('../partials/scripts.ejs'); %>
</body>
</html>